---
pagination:
  data: collections.products
  size: 1
  alias: product
permalink: "products/{{ product.data.slug }}/index.html"
---

<h1>{{ product.data.title_en }}</h1>
<p>{{ product.data.desc_en }}</p>

{% if product.data.cover %}
  <img src="{{ product.data.cover }}" style="max-width:520px;" />
{% endif %}

{% if product.data.params %}
  <h3>Specs</h3>
  <ul>
  {% for p in product.data.params %}
    <li><b>{{ p.k }}:</b> {{ p.v }}</li>
  {% endfor %}
  </ul>
{% endif %}

<hr/>
<div>
  {{ product.content | safe }}
</div>
